
 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

 .vote-arrows {
   width: 40px;
   text-align: center;
 }
 
.user-info {
   margin-top: 9px;
 }
 
 .nav {
   margin-top: 5px;
 }

.favorite {
   margin-top: 20px;
 }