

    <div class="vote-arrows pull-left">
      <div><%= link_to " ", post_up_vote_path(post), class: 'icon-chevron-up' %></div>
      <div><strong><%= post.points %></strong></div>
      <div><%= link_to " ", post_down_vote_path(post), class: 'icon-chevron-down' %></div>
    </div>
